= semantic_form_for @tournament do |form|
  = form.inputs :name, :location, :level
  #bracket_base
    #bracket_body

      .round#r1
        .header First Round
        = form.semantic_fields_for :first_round_matches do |match|
          %div
            =match.collection_select :player_1, Player.all, :id, :full_name, {:include_blank => true, :prompt=>"Select Player 1"}
        
          .odd
            =match.collection_select :player_2, Player.all, :id, :full_name, {:include_blank => true, :prompt=>"Select Player 2"}

      .round#r2
        .header Second Round
        = form.semantic_fields_for :second_round_matches do |match|
          
          %div
            %span
              =match.collection_select :player_1, Player.all, :id, :full_name, {:include_blank => true, :prompt=>"Select Player 1"}
        
          .odd
            =match.collection_select :player_2, Player.all, :id, :full_name, {:include_blank => true, :prompt=>"Select Player 2"}
    

      = form.submit
  

